.main{
    max-width: 1150px;
    margin: 0 auto;
    background: rgb(36, 36, 36);
    height: auto;
    border-radius: 10px;
}
@media screen and (max-width:520px) {
    .main{
        width: 100%;
    }
}