@keyframes arrow {
    0% {top: -100px;  opacity: 0;}
    50% {top: 150px; opacity: 0.1;}
    100% {top: -100px; opacity: 0;}
}
.wrapper-about{
    padding-top: 100px;
    font-family: Karla;
}
.text-name{
    font-weight: bold;
}
.my-name{
    font-size: 54px;
    font-weight: bold;
    margin: 10px 0;
    font-family: Rubik;
}
.left-box-about{
    margin-left: 100px;
}
.social{
    display: flex;
    gap: 15px;
    margin-top: 30px;
}
.github,
.linkedin{
    background-color: #cc7544;
    padding: 7px;
    border-radius: 7px;
    color: black;
}
.arrow{
    position: absolute;
    font-size: 240px;
    color: #cc7544;
    right: 550px;    
    animation: arrow 8s infinite;
}