@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400&family=Rubik:wght@400;700&display=swap');
a{
  color: white;
  text-decoration: none;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  height: auto;
  background: rgb(18, 18, 18);
  color: white;
  padding: 70px;
}